body{
    background-image: url(https://scx2.b-cdn.net/gfx/news/hires/2019/4-space.jpg);
}

article{
    color: white;
    backdrop-filter: blur(10px);
}

img{
    width: 300px;
    height: 300px;
}

p{
    color: white;
    text-align: center;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }